.StaffTimeAvailable {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  .timeavailable-main {
    // width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    .availableTime {
      border: 1px solid rgb(207, 198, 198);
      margin-right: 30px;
      border-radius: 25px;
      margin-bottom: 30px;
      width: 160px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: rgb(249, 239, 239);
      }
      .time-display {
        font-size: 22px;
        font-weight: 550;
      }
    }
  }
  p {
    font-size: 20px;
    font-weight: 500;
    span {
      cursor: pointer;
      color: blue;
    }
  }
}
