@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.BookingMenu {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  .main-menu {
    width: 50%;
    cursor: pointer;
    height: fit-content;
    .title {
      font-weight: 500;
      margin-top: 5px;
      margin-left: 10px;
      margin-bottom: 10px;
      width: fit-content;
      .title-display {
        margin-top: 30px;
        font-size: 24px;
        font-weight: 500;
      }
    }
    .menu-option {
      margin-top: 5px;
      margin-left: 10px;
      font-weight: 500;
      margin-bottom: 10px;

      .item {
        margin-top: 18px;
        font-size: 19px;
        font-weight: 500;
        color: rgb(46, 34, 34);
      }
      .items {
        margin-top: 6px;
        color: rgb(158, 145, 145);
        width: fit-content;
      }
    }
  }
  .display-Price {
    width: 30%;
    margin-left: 2%;
    background-color: rgb(228, 224, 224);
    p {
      margin: 30px 20px 15px 20px;
      font-size: 19px;
      width: 85%;
    }
    .line {
      width: 80%;
      margin: auto;
      border: 1px solid rgb(195, 181, 181);
    }
    .main-slected {
      margin: 30px 20px 35px 20px;
      font-size: 19px;
      width: 85%;
      .line {
        width: 80%;
        margin: auto;
        border: 1px solid rgb(195, 181, 181);
      }
    }
    .total-price {
      margin: 30px 20px 25px 20px;
      font-size: 24px;
      color: red;
    }
    .continuebutton {
      text-decoration: none;
      div {
        border: 1px solid rgb(20, 18, 18);
        color: black;
        font-weight: 500;
        width: 85%;
        font-size: 19px;
        margin: auto;
        text-align: center;
        padding: 10px;
        border-radius: 30px;
        cursor: pointer;
        &:hover {
          background-color: rgb(225, 213, 213);
        }
      }
    }
  }
}
// media 1300
@media (max-width: 1300px) {
  .BookingMenu {
    display: flex;
    width: 95%;
    justify-content: center;
    margin: auto;
    //border: 1px solid red;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    .main-menu {
      width: 45%;
      cursor: pointer;
      height: fit-content;
      .title {
        font-weight: 500;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        width: fit-content;
        .title-display {
          margin-top: 30px;
          font-size: 24px;
          font-weight: 500;
        }
      }
      .menu-option {
        margin-top: 5px;
        margin-left: 10px;
        font-weight: 500;
        margin-bottom: 10px;
        .item {
          margin-top: 18px;
          font-size: 19px;
          font-weight: 500;
          color: rgb(46, 34, 34);
        }
        .items {
          margin-top: 6px;
          color: rgb(158, 145, 145);
          width: fit-content;
        }
      }
    }
    .display-Price {
      width: 45%;
      margin-left: 2%;
      background-color: rgb(228, 224, 224);
      p {
        margin: 30px 20px 15px 20px;
        font-size: 19px;
        width: 85%;
      }
      .line {
        width: 80%;
        margin: auto;
        border: 1px solid rgb(195, 181, 181);
      }
      .main-slected {
        margin: 30px 20px 35px 20px;
        font-size: 19px;
        width: 85%;
        .line {
          width: 80%;
          margin: auto;
          border: 1px solid rgb(195, 181, 181);
        }
      }
      .total-price {
        margin: 30px 20px 25px 20px;
        font-size: 24px;
        color: red;
      }
      .continuebutton {
        text-decoration: none;
        div {
          border: 1px solid rgb(20, 18, 18);
          color: black;
          font-weight: 500;
          width: 85%;
          font-size: 19px;
          margin: auto;
          text-align: center;
          padding: 10px;
          border-radius: 30px;
          cursor: pointer;
          &:hover {
            background-color: rgb(225, 213, 213);
          }
        }
      }
    }
  }
}

// 920

@media (max-width: 856px) {
  .BookingMenu {
    display: flex;
    width: 95%;
    justify-content: center;
    margin: auto;
    //border: 1px solid red;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    .main-menu {
      width: 50%;
      cursor: pointer;
      height: fit-content;
      .title {
        font-weight: 500;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        width: fit-content;
        .title-display {
          margin-top: 30px;
          font-size: 20px;
          font-weight: 500;
        }
      }
      .menu-option {
        margin-top: 5px;
        margin-left: 10px;
        font-weight: 500;
        margin-bottom: 10px;
        .item {
          margin-top: 18px;
          font-size: 18px;
          font-weight: 500;
          color: rgb(46, 34, 34);
        }
        .items {
          margin-top: 6px;
          color: rgb(158, 145, 145);
          width: fit-content;
        }
      }
    }
    .display-Price {
      width: 45%;
      margin-left: 2%;
      background-color: rgb(228, 224, 224);
      p {
        margin: 30px 20px 15px 20px;
        font-size: 18px;
        width: 85%;
      }
      .line {
        width: 80%;
        margin: auto;
        border: 1px solid rgb(195, 181, 181);
      }
      .main-slected {
        margin: 30px 20px 35px 20px;
        font-size: 18px;
        width: 85%;
        .line {
          width: 80%;
          margin: auto;
          border: 1px solid rgb(195, 181, 181);
        }
      }
      .total-price {
        margin: 30px 20px 25px 20px;
        font-size: 20px;
        color: red;
      }
      .continuebutton {
        text-decoration: none;
        div {
          border: 1px solid rgb(20, 18, 18);
          color: black;
          font-weight: 500;
          width: 85%;
          font-size: 19px;
          margin: auto;
          text-align: center;
          padding: 10px;
          border-radius: 30px;
          cursor: pointer;
          &:hover {
            background-color: rgb(225, 213, 213);
          }
        }
      }
    }
  }
}
// 815

@media (max-width: 815px) {
  .BookingMenu {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    .main-menu {
      width: 90%;
      align-items: center;
      cursor: pointer;
      height: fit-content;
      .title {
        font-weight: 500;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        width: fit-content;
        .title-display {
          margin-top: 30px;
          font-size: 20px;
          font-weight: 500;
        }
      }
      .menu-option {
        margin-top: 5px;
        margin-left: 10px;
        font-weight: 500;
        margin-bottom: 10px;
        .item {
          margin-top: 18px;
          font-size: 18px;
          font-weight: 500;
          color: rgb(46, 34, 34);
        }
        .items {
          margin-top: 6px;
          color: rgb(158, 145, 145);
          width: fit-content;
        }
      }
    }
    .display-Price {
      width: 90%;
      margin-left: 2%;
      background-color: rgb(228, 224, 224);
      p {
        margin: 30px 20px 15px 20px;
        font-size: 18px;
        width: 85%;
      }
      .line {
        width: 80%;
        margin: auto;
        border: 1px solid rgb(195, 181, 181);
      }
      .main-slected {
        margin: 30px 20px 35px 20px;
        font-size: 18px;
        width: 85%;
        .line {
          width: 80%;
          margin: auto;
          border: 1px solid rgb(195, 181, 181);
        }
      }
      .total-price {
        margin: 30px 20px 25px 20px;
        font-size: 20px;
        color: red;
      }
      .continuebutton {
        text-decoration: none;
        div {
          border: 1px solid rgb(20, 18, 18);
          color: black;
          font-weight: 500;
          width: 85%;
          font-size: 19px;
          margin: auto;
          text-align: center;
          padding: 10px;
          border-radius: 30px;
          margin-bottom: 25px;
          cursor: pointer;
          &:hover {
            background-color: rgb(225, 213, 213);
          }
        }
      }
    }
  }
}
